<fieldset>
	<legend>Effects Info</legend>
	
	<div class="form-group form-inline">
		<label for="castTime">Cast Time: </label>
		<input type="number" id="castTime" class="form-control" name="castTime" min="1" ng-model="castTime">
		<select id="ctTimeUnit" class="form-control" name="ctTimeUnit" required ng-model="ctTimeUnit" ng-options="unit.name group by unit.system for unit in timeUnits | orderBy: unit.toSeconds">
			<option value="" hidden>-- Select unit --</option>
		</select>
		<label for="castTimeDetails"></label>
		<input type="text" id="castTimeDetails" class="form-control" name="castTimeDetails" placeholder="Details" ng-model="newData.castTime.details">
		<label>
			<input type="checkbox" id="ritual" class="" name="ritual" ng-model="newData.ritual">
			Mark if ritual.
		</label>
	</div>

	<div class="form-group form-inline">
		<label for="duration">Max. duration: </label>
		<input type="number" id="duration" class="form-control" name="duration" min="1" ng-model="duration">
		<select id="durTimeUnit" class="form-control" name="durTimeUnit" required ng-model="durTimeUnit" ng-options="unit.name group by unit.system for unit in timeUnits | orderBy: unit.toSeconds">
			<option value="" hidden>-- Select unit --</option>
		</select>
		<label for="durationDetails"></label>
		<label>
			<input type="checkbox" id="ritual" class="" name="ritual" ng-model="newData.duration.concentration">
			Mark if Concentration can be used.
		</label>
		<input type="text" id="durationDetails" class="form-control" name="durationDetails" placeholder="Details" ng-model="newData.duration.details">
	</div>

	<div class="form-group form-inline">
		<label for="range">Range: </label>
		<input type="number" id="range" class="form-control" name="range" min="1" ng-model="range">
		<select id="rLengthUnit" class="form-control" name="rLengthUnit" required ng-model="rLengthUnit" ng-options="unit.name group by unit.system for unit in lengthUnits | orderBy: unit.toMeter">
			<option value="" hidden>-- Select unit --</option>
		</select>
		<a ng-click="meh()">meh</a>
	</div>

	<div class="form-group form-inline">
		<label for="aoe">Area of Effect: </label>
		<select id="aoeType" class="form-control" name="aoeType" required ng-model="aoeType" ng-options="aoe.name for aoe in areasOfEffects | orderBy: aoe.name">
			<option value="" hidden>-- Select AoE --</option>
		</select>

		<span ng-show="aoeType.name !== undefined">{{aoeType.a}}</span>
		<input type="number" id="size" class="form-control" name="size" min="1" ng-show="aoeType.name !== undefined" ng-model="size">

		<span ng-show="aoeType.name == 'Cylinder'">{{aoeType.b}}</span>
		<input type="number" id="size2" class="form-control" name="size2" min="1" ng-show="aoeType.name == 'Cylinder'" ng-model="size2">

		<select id="aoeLengthUnit" class="form-control" name="aoeLengthUnit" required ng-show="aoeType.name !== undefined" ng-model="aoeLengthUnit" ng-options="unit.name group by unit.system disable when unit.system=='Special' for unit in lengthUnits | orderBy: unit.toMeter">
			<option value="" hidden>-- Select unit --</option>
		</select>
	</div>
	<div class="form-group form-inline">
		<label for="efxDetails">Effects details: </label>
		<input type="text" id="efxDetails" class="form-control" name="efxDetails" ng-model="newData.effect.details">
	</div>


</fieldset>