<!-- == Feat Prerequisites ========================================================================= -->
	<fieldset>
		<legend>Prerequisites:</legend>
		<h4>Abilities:</h4>
		<div class="form-group form-inline">
			<select id="newPrereqAb" class="form-control" name="newPrereqAb" ng-model="newPrereqAb" ng-options="ability.name for ability in abilities | orderBy: ability.name">
				<option value="" hidden>-- Select --</option>
			</select>
			<input type="number" id="{{newPrereqAb.ngModel}}" class="form-control" name="{{newPrereqAb.ngModel}}" ng-model="detail">{{newPrereqAb[ngModel]}}
			<a ng-click="addItem(newPrereqAb, displayAb, 'prereqs', 'abilities')" ng-show="newPrereqAb !== undefined">add</a>
		</div>
		<div ng-repeat="a in displayAb">{{a.name}} - {{a.detail}}</div>
	</fieldset>
	<a ng-click="meh(newData.prereqs)">meh</a>
<!-- ========================================================================= Feat Prerequisites == -->

<!-- == Feat Bonuses =============================================================================== -->
	<fieldset>
		<legend>Bonuses:</legend>
	</fieldset>
<!-- =============================================================================== Feat Bonuses == -->