<fieldset>
	<legend>Roleplay info:</legend>
	<div class="form-inline">
		<div>
			<input type="text" id="groupName" class="form-control" name="groupName" ng-model="groupName" placeholder="Group name">
		</div>

		<div>
			<a ng-click="addInput('nameInputs')">Add name example</a>			
		</div>

		<div ng-repeat="input in nameInputs">
			<input type="text" id="newName{{$index}}" class="form-control" name="newName{{$index}}" required placeholder="Insert new name" ng-model="input.name">
			<a ng-click="remove(nameInputs, $index)">[x]</a>
		</div>

		<div>
			<a ng-click="newGroup(nameInputs)" ng-show="groupName && nameInputs.length > 0">Add group and names</a>
		</div>

		<dl ng-repeat="nameGroup in displayNames">
			<dt><a ng-click="remove(displayNames, $index)">[x] </a> {{nameGroup.group}}</dt>
			<dd><span ng-repeat="name in nameGroup.namesList">{{name}}<span ng-if="!$last">, </span><span ng-if="$last">.</span></span></dd>
		</dl>
	</div>

	<div class="form-inline">
		<select id="newLang" class="form-control" name="newLang" ng-model="newLang" ng-options="lang.name group by lang.cat for lang in langs | orderBy: 'name'">
			<option value="" hidden>-- Select Language --</option>
		</select>
		<a ng-click="addItem(newLang, displayLangs, 'langs')" ng-hide="newLang == null || undefined">add</a>
	</div>	
	<a ng-click="meh(displayNames)">meh</a>
</fieldset>