<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1>Hey, this the form to add new user!</h1>
			<h3>here is the form</h3>
			<form ng-submit="save(newData)">
				<div class="bleh" ng-show="errors" ng-repeat="error in errors">{{error}}</div>
				<div class="blah" ng-show="success">{{success}}</div>
				<div class="form-group form-inline">
					<label for="newUsername">User name: </label>
					<input type="text" id="newUsername" class="form-control" name="newUsername" ng-model="newData.name"><br>

					<label for="newEmail">email: </label>
					<input type="email" id="newEmail" class="form-control" name="newEmail" ng-model="newData.email"><br>

					<label for="newPassword">Password: </label>
					<input type="password" id="newPassword" class="form-control" name="newPassword" ng-model="newData.password">
				</div>

				<input type="submit" class="btn btn-primary">
			</form>
		</div>
	</div>
</div>