<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1>Hey, this is the dashboard page!</h1>
			<h3>here is your user info</h3>
			<h4><a href="/logout">logout link</a></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4>Local:</h4>
			<p><strong>UserName:</strong> {{data.userName}}</p>
			<p><strong>E-mail:</strong> {{data.email}}</p>
			<p><strong>Created:</strong> {{data.memberSince}}</p>
			<br>
			<h4>Facebook:</h4>
			<figure><img src="{{data.socialIDs.facebook.profilePic}}" alt="" class="img-responsive"></figure>
			<p><strong>Name:</strong> {{data.socialIDs.facebook.name}}</p>
			<p><strong>E-mail:</strong> {{data.socialIDs.facebook.email}}</p>
			<p><strong>Profile Link:</strong> {{data.socialIDs.facebook.profileLink}}</p>
			<br>
			<h4>Google:</h4>
			<figure><img src="{{data.socialIDs.google.profilePic}}" alt="" class="img-responsive"></figure>
			<p><strong>Name:</strong> {{data.socialIDs.google.name}}</p>
			<p><strong>E-mail:</strong> {{data.socialIDs.google.email}}</p>
			<p><strong>Profile Link:</strong> {{data.socialIDs.google.profileLink}}</p>
			<br>
			<h4>Twitter:</h4>
			<figure><img src="{{data.socialIDs.twitter.profilePic}}" alt="" class="img-responsive"></figure>
			<p><strong>Screen Name:</strong> {{data.socialIDs.twitter.screenName}}</p>
			<p><strong>Name:</strong> {{data.socialIDs.twitter.name}}</p>
			<p><strong>E-mail:</strong> {{data.socialIDs.twitter.email}}</p>
			<p><strong>Profile Link:</strong> {{data.socialIDs.twitter.profileLink}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Created Content</h3>
			<h4>Skills</h4>
			<p ng-repeat="skill in data.createdContent.skills">{{skill.name}}</p>
			<p ng-repeat="skill in data.createdContent.skills">{{skill}}</p>
			<h4>Feats</h4>
			<p ng-repeat="feat in data.createdContent.feats">{{feat.name}}</p>
			<p ng-repeat="feat in data.createdContent.feats">{{feat}}</p>
			<h4>Characters</h4>
			<p ng-repeat="character in data.createdContent.characters">{{character.name}}</p>
			<p ng-repeat="character in data.createdContent.characters">{{character}}</p>
		</div>
	</div>
</div>

