<fieldset>
	<legend>Bonuses:</legend>
	<select ng-model="newBonus" ng-options="bonus.name group by bonus.cat for bonus in bonusList">
		<option value="" hidden>-- Select --</option>
	</select>
	<a ng-click="addBonus(newBonus)">add</a>
	<ul class="list-inline">
		<li ng-show="newData.bonus.languages.length > 0"><span><strong>Languages: </strong></span></li>
		<li ng-repeat="language in newData.bonus.languages"><span>{{language}}</span></li>
	</ul>
	<div class="form-group form-inline">
		<div ng-repeat="bonus in bonuses">
			<label for="{{bonus.ngModel}}">{{bonus.name}}: </label>
			<input type="{{bonus.type}}" id="{{bonus.ngModel}}" class="" name="{{bonus.ngModel}}" ng-model="newData.bonus[bonus.ngModel]">
		</div>
	</div>
</fieldset>