<fieldset>
	<legend>Prerequisites:</legend>
	<select ng-model="newPrereq" ng-options="prereq.name group by prereq.cat for prereq in prereqList">
		<option value="" hidden>-- Select --</option>
	</select>
	<a ng-click="addPrereq(newPrereq)">add</a>
	<ul class="list-inline">
		<li ng-show="newData.prereq.proficiencies.length > 0"><span><strong>Proficiencies:</strong></span></li>
		<li ng-repeat="proficiency in newData.prereq.proficiencies"><span>{{proficiency}}</span></li>
	</ul>
	<div class="form-group form-inline">
		<div ng-repeat="prereq in prerequisites">
			<label for="{{prereq.ngModel}}">{{prereq.name}}: </label>
			<input type="{{prereq.type}}" id="{{prereq.ngModel}}" class="" name="{{prereq.ngModel}}" ng-model="newData.prereq[prereq.ngModel]">
		</div>
	</div>
</fieldset>