<fieldset>
	<legend>Spell basic info</legend>
	<label for="newSchool">Add School: </label>
	<select id="newSchool" name="newSchool" ng-model="newSchool" ng-options="school for school in schoolsList | orderBy:school">
		<option value="" hidden>-- Select --</option>
	</select>
	<a ng-click="addItem(newSchool, newData.schools, schoolsList)">add</a>
	<ul class="list-inline">
		<li ng-show="newData.schools.length > 0">
			<ng-pluralize count="newData.schools.length" when="{'0': '','one': 'School: ','other': 'Schools: '}"></ng-pluralize>
		</li>
		<li ng-repeat="school in newData.schools"><span>{{school}} </span> <a ng-click="removeItem($index, schoolsList)">[X]</a></li>
	</ul>
	
	<label for="level">Level: </label>
	<input type="number" id="level" class="form-control" name="level" ng-model="newData.level">

	<label>
		<input type="checkbox" id="ritual" class="" name="ritual" ng-model="newData.ritual">
		Mark if ritual.
	</label>


	<label for="newComponent">Add School: </label>
	<select id="newComponent" name="newComponent" ng-model="newComponent" ng-options="component for component in componentslList |  orderBy:component">
		<option value="" hidden>-- Select --</option>
	</select>
	<a ng-click="addItem(newComponent, newData.components, componentsList)">add</a>
	<ul class="list-inline">
		<li ng-show="newData.components.length > 0">
			<ng-pluralize count="newData.components.length" when="{'0': '','one': 'Component: ','other': 'Components: '}"></ng-pluralize>
		</li>
		<li ng-repeat="component in newData.components"><span>{{component}} </span> <a ng-click="removeItem($index)">[X]</a></li>
	</ul>

</fieldset>


<!-- 		
			'save': {'type': String, 'minlength': 3, 'default': ''},
			'components': [
				{
					'name': String,	// Verbal, Somatic, Material
					'desc': String
				}
			], -->