<fieldset>
	<legend>Roleplay info:</legend>
	<div class="form-inline">
		<h4>Names:</h4>
		<div>
			<input type="text" id="groupName" class="form-control" name="groupName" ng-model="groupName" placeholder="Group name">
		</div>

		<div>
			<a ng-click="addInput('nameInputs')">Add name example</a>			
		</div>

		<div ng-repeat="input in nameInputs">
			<input type="text" id="newName{{$index}}" class="form-control" name="newName{{$index}}" required placeholder="Insert new name" ng-model="input.name">
			<a ng-click="removeInput('nameInputs', $index)">[x]</a>
		</div>

		<div>
			<a ng-click="newGroup(nameInputs, 'displayNames')" ng-show="groupName && nameInputs.length > 0">Add group and names</a>
		</div>

		<dl ng-repeat="nameGroup in displayNames">
			<dt><a ng-click="removeInput('displayNames', $index)">[x] </a> {{nameGroup.group}}</dt>
			<dd><span ng-repeat="name in nameGroup.namesList">{{name}}<span ng-if="!$last">, </span><span ng-if="$last">.</span></span></dd>
		</dl>
	</div>

	<div class="form-inline">
		<h4>Languages:</h4>
		<select id="newLang" class="form-control" name="newLang" ng-model="newLang" ng-options="lang.name group by lang.cat for lang in langs | orderBy: 'name'">
			<option value="" hidden>-- Select Language --</option>
		</select>
		<a ng-click="addItem(newLang, displayLangs, languages, 'langs')" ng-hide="newLang == null || undefined">add</a>
		<ul class="list-inline">
			<li><ng-pluralize count="displayLangs.length" when="{'0': '','one': 'Language: ','other': 'Languages: '}"></ng-pluralize></li>
			<li ng-repeat="lang in displayLangs">{{lang.name}}<span ng-if="!$last">, </span><span ng-if="$last">.</span></li>
		</ul>
	</div>

	<div class="form-inline">
		<h4>Speed:</h4>
		<input type="number" id="baseSpeed" class="form-control" name="baseSpeed" min="0" ng-model="baseSpeed" placeholder="Set base speed">
		<select id="sLengthUnit" class="form-control" name="sLengthUnit" required ng-model="sLengthUnit" ng-options="unit.name group by unit.system for unit in lengthUnits | orderBy: unit.toMeter | filter: {name: '!touch'}">
			<option value="" hidden>-- Select unit --</option>
		</select>
		<input type="text" id="speedDetails" class="form-control" name="speedDetails" ng-model="newData.speed.details" placeholder="Details">
	</div>

	<div class="form-inline">
		<h4>Age:</h4>
		<label for="adulthood">Adulthood: </label>
		<input type="number" id="adulthood" class="form-control" name="adulthood" min="0" ng-model="newData.age.adulthood">
		<label for="adulthood">Max: </label>
		<input type="number" id="avgMax" class="form-control" name="avgMax" min="0" ng-model="newData.age.avgMax">
	</div>

	<div class="form-inline">
		<h4>Physical characteristics:</h4>
		<div>
			<label for="avgHeight">Average height: </label>
			<input type="number" id="avgHeight" class="form-control" name="avgHeight" min="0" ng-model="avgHeight">
			<select id="phLengthUnit" class="form-control" name="phLengthUnit" required ng-model="phLengthUnit" ng-options="unit.name group by unit.system for unit in lengthUnits | orderBy: unit.toMeter | filter: {name: '!touch'}">
				<option value="" hidden>-- Select unit --</option>
			</select>
		</div>

		<div>
			<label for="avgHeight">Average weight: </label>
			<input type="number" id="avgWeight" class="form-control" name="avgWeight" min="0" ng-model="avgWeight">
			<select id="phWeightUnit" class="form-control" name="phWeightUnit" required ng-model="phWeightUnit" ng-options="unit.name group by unit.system for unit in weightUnits | orderBy: unit.toKg">
				<option value="" hidden>-- Select unit --</option>
			</select>
		</div>
		<label for="size">Size: </label>
		<select id="size" class="form-control" name="size" required ng-model="newData.physical.size" ng-options="size.name for size in sizes | orderBy: 'space'">
			<option value="" hidden>-- Select size --</option>
		</select>
	</div>

	<div class="form-inline">
		<h4>Alignment:</h4>
		<label for="alignmentTend">Tendencies</label>
		<input type="text" id="alignmentTend" class="form-control" name="alignmentTend" ng-model="newData.alignmentTend">{{145 - newData.alignmentTend.length}}
	</div>
</fieldset>
<fieldset>
	<legend>Racial traits:</legend>
	<h4>Abilities:</h4>
		<div class="form-group form-inline">
			<select id="newTraitAb" class="form-control" name="newTraitAb" ng-model="newTraitAb" ng-options="ability.name for ability in traitAbilities | orderBy: 'name'">
				<option value="" hidden>-- Select ability --</option>
			</select>
			<input type="{{newTraitAb.type}}" id="{{newTraitAb.ngModel}}B" class="form-control" name="{{newTraitAb.ngModel}}B" ng-hide="newTraitAb == null || undefined" ng-model="details">
			<a ng-click="addItem(newTraitAb, displayTraitsAb, 'bonuses', 'traitAbilities')" ng-hide="newTraitAb == null || undefined">add</a>
		</div>
		<ng-pluralize count="displayTraitsAb.length" when="{'0': '','one': 'Selected bonus: ','other': 'Selected bonuses: '}"></ng-pluralize>
		<div ng-repeat="ability in displayTraitsAb">{{ability.name}} = {{ability[ability.ngModel]}} <a ng-click="removeItem($index, displayTraitsAb, 'bonuses', 'traitAbilities')">[x]</a></div>

		<h4>Proficiencies:</h4>
		<div class="form-group form-inline">
			<select id="newTraitProf" class="form-control" name="newTraitProf" ng-model="newTraitProf" ng-options="prof.name group by prof.cat for prof in traitProficiencies | orderBy: 'name'">
				<option value="" hidden>-- Select proficiency --</option>
			</select>
			<a ng-click="addItem(newTraitProf, displayTraitProf, 'bonuses', 'traitProficiencies')" ng-hide="newTraitProf == null || undefined">add</a>
		</div>
		<ng-pluralize count="displayBonusProf.length" when="{'0': '','one': 'Selected proficiency: ','other': 'Selected proficiencies: '}"></ng-pluralize>
		<div ng-repeat="prof in displayTraitProf">{{prof.name}} = {{prof.details}} <a ng-click="removeItem($index, displayTraitProf, 'bonuses', 'traitProficiencies')">[x]</a></div>

		<h4>Combat:</h4>
		<div class="form-group form-inline">
			<select id="newTraitCombat" class="form-control" name="newTraitCombat" ng-model="newTraitCombat" ng-options="combat.name group by combat.cat for combat in traitCombat | orderBy: 'name' | filter: {name:'!Speed'}">
				<option value="" hidden>-- Select property --</option>
			</select>

			<input type="{{newTraitCombat.type}}" id="{{newTraitCombat.ngModel}}" class="form-control" name="{{newTraitCombat.ngModel}}" ng-hide="newTraitCombat == null || undefined" ng-model="details">
			<a ng-click="addItem(newTraitCombat, displayTraitCombat, 'bonuses', 'traitCombat')" ng-hide="newTraitCombat == null || undefined">add</a>
		</div>
		<ng-pluralize count="displayTraitCombat.length" when="{'0': '','one': 'Combat bonus: ','other': 'Combat bonuses: '}"></ng-pluralize>
		<div ng-repeat="combat in displayTraitCombat">{{combat.name}} = {{combat[combat.ngModel]}} <a ng-click="removeItem($index, displayTraitCombat, 'bonuses', 'traitCombat')">[x]</a></div>

		<h4>Damage Resist:</h4>
		<div class="form-group form-inline">
			<select id="newDmgResist" class="form-control" name="newDmgResist" ng-model="newDmgResist" ng-options="dmgResist.name group by dmgResist.cat for dmgResist in dmgTypes |  orderBy: 'name'">
				<option value="" hidden>-- Select damage type --</option>
			</select>

			<a ng-click="addItem(newDmgResist, displayDmgResist, 'bonuses', 'dmgTypes')" ng-hide="newDmgResist.name == null || undefined">add</a>

			<ul class="list-inline">
				<li ng-show="displayDmgResist.length > 0">
					<ng-pluralize count="displayDmgResist.length" when="{'0': '','one': 'Damage Resist: ','other': 'Damage Resists: '}"></ng-pluralize>
				</li>
				<li ng-repeat="dmgResist in displayDmgResist">{{dmgResist.name}}<a ng-click="removeItem($index, displayDmgResist, 'bonuses', 'dmgTypes')">[X]</a><span ng-if="!$last">, </span><span ng-if="$last">.</span></li>
			</ul>
		</div>

		<h4>Other:</h4>
		<div class="form-group form-inline">
			<label for="newTraitOther">Select other traits: </label>
			<select id="newTraitOther" class="form-control" name="newTraitOther" ng-model="newTraitOther" ng-options="other.name group by other.cat for other in traitOther | orderBy: 'name' | filter: {name:'!Language'}">
				<option value="" hidden>-- Select other --</option>
			</select>
			<input type="{{newTraitOther.type}}" id="{{newTraitOther.ngModel}}P" class="form-control" name="{{newTraitOther.ngModel}}P" ng-hide="newTraitOther == null || undefined" ng-model="details">
			<a ng-click="addItem(newTraitOther, displayTraitOther, 'bonuses', 'traitOther')" ng-hide="newTraitOther == null || undefined">add</a>
		</div>

		<ng-pluralize count="displayTraitOther.length" when="{'0': '','one': 'Other trait: ','other': 'Other traits: '}"></ng-pluralize>
		<div ng-repeat="other in displayTraitOther">{{other.name}} = {{other.details}} <a ng-click="removeItem($index, displayTraitOther, 'prereqs', 'prereqsOther')">[x]</a></div>
		<a ng-click="meh(newData.bonuses)">meh</a>
</fieldset>