<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1>Hey, this the single spell page!</h1>
			<h3>here is your spell details</h3>
			<p>{{data.name}}</p>
			<p>{{data.shortDesc}}</p>
			<p>{{data.ability}}</p>
			<p>{{data.prof}}</p>
			<p ng-bind-html="data.desc"></p>
			<div ng-show="errors" ng-repeat="error in errors">{{error}}</div>
			<div ng-show="success">{{success}}</div>
			<p>
				<a ng-href="#/{{collection}}/new">spell add form</a>
			</p>
			<p>
				<a ng-href="#/{{collection}}">spell list</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a ng-click="showForm = true">update</a>
			<div ng-show="showForm">
				<form ng-submit="update(data)">
					<input type="text" class="form-control" name="spellName" id="spellName" placeholder="Name" ng-model="data.name">
					<input type="text" class="form-control" name="spellAbility" id="spellAbility" placeholder="Ability" ng-model="data.ability">
					<input type="text" class="form-control" name="spellShortDesc" id="spellShortDesc" placeholder="Short Description" ng-model="data.shortDesc">
					<div class="form-group form-inline">
						<input type="checkbox" class="form-control" name="spellProf" id="spellProf" ng-model="data.prof"> Prof?
					</div>
					<text-angular ng-model="data.desc" ta-toolbar="[['p'],['bold', 'italics', 'underline', 'strikeThrough'],['ul', 'ol'],['clear']]"></text-angular>
					<input type="submit" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</div>

