<fieldset>
	<legend>Class Paths</legend>

	<div class="form-group">
		<label for="newPathName">Path name</label>
		<input type="text" id="newPathName" name="newPathName" class="form-control" ng-model="newPath.name">
		<label for="newPathDesc">Path description</label>
		<text-angular id="newPathDesc" name="newPathDesc" ta-toolbar="[['h3','h4','h5','h6','p'],['bold','italics','underline','strikeThrough'],['ul','ol'],['clear']]" ng-model="newPath.desc"></text-angular>
	</div>

	<div class="form-group form-inline">
		<select id="newBonus" class="form-control" name="newBonus" ng-model="newPathBonus" ng-options="bonus.name group by bonus.cat for bonus in pathBonuses | orderBy: ['cat','name']">
			<option value="" hidden>-- Select Bonus --</option>
		</select>
		<a ng-click="addInput('pathBonusesInputs', newPathBonus, 'pathBonuses')">Add Bonus</a>
	</div>
	

	<div>
		<select id="newLanguage" class="form-control" name="newLanguage" ng-model="newPathLanguage" ng-options="language.name group by language.cat for language in pathLanguages | orderBy: ['cat','name']">
			<option value="" hidden>-- Select Language --</option>
		</select>
		<a ng-click="addInput('displayPathLanguages', newPathLanguage, 'pathLanguages')">Add Language</a>
	</div>

	<p><strong><ng-pluralize count="displayPathLanguages.length" when="{'0': '','one': 'Selected laguage: ','other': 'Selected languages: '}"></ng-pluralize></strong></p>
	<span ng-repeat="language in displayPathLanguages">
		{{language.name}}<a ng-click="removeInput('displayPathLanguages', $index, 'pathLanguages')"> [x]</a><span ng-if="!$last">, </span><span ng-if="$last">.</span>
	</span>



	<p><strong><ng-pluralize count="pathBonusesInputs.length" when="{'0': '','one': 'Selected bonus: ','other': 'Selected bonuses: '}"></ng-pluralize></strong></p>
	<div class="form-group form-inline" ng-repeat="input in pathBonusesInputs | orderBy:'':true">
		<label for="{{input.ngModel}}">{{input.name}}: </label>
		<input type="{{input.type}}" id="{{input.ngModel}}" class="form-control" name="{{input.ngModel}}" ng-model="newPath.bonuses[input.ngModel]">
		<a ng-click="removeInput('pathBonusesInputs', $index, 'pathBonuses')"> [x]</a>
	</div>

		
	<p><a ng-click="addNewPath(newPath)">add new path</a></p>
	<p><a ng-click="meh(newData.paths)">meh</a></p>
</fieldset>