<fieldset>
	<legend>Class Basics</legend>
	<label for="hitDice">Hit dice: </label>
	<input type="number" id="hitDice" name="hitDice" class="form-control" ng-model="newData.hitDice">

	<h4>Proficiencies:</h4>
	<div class="form-group form-inline">
		<select id="newBonusProf" class="form-control" name="newBonusProf" ng-model="newBonusProf" ng-options="prof.name group by prof.cat for prof in bonusesProficiencies | orderBy: 'name'">
			<option value="" hidden>-- Select proficiency --</option>
		</select>
		<a ng-click="addItem(newBonusProf, displayBonusProf, 'bonuses', 'bonusesProficiencies')" ng-hide="newBonusProf == null || undefined">add</a>
	</div>
	<ng-pluralize count="displayBonusProf.length" when="{'0': '','one': 'Selected proficiency: ','other': 'Selected proficiencies: '}"></ng-pluralize>
	<div ng-repeat="prof in displayBonusProf">{{prof.name}} = {{prof.details}} <a ng-click="removeItem($index, displayBonusProf, 'bonuses', 'bonusesProficiencies')">[x]</a></div>
</fieldset>