<fieldset>
	<legend>Abilities</legend>
		<a ng-click="meh(strScore)">meh</a>
		<label>Select ability points system: </label><br>
		<label><input type="radio" ng-model="abilityModel" value="randomScores" ng-click="redefine()"> Random scores</label><br>
		<label><input type="radio" ng-model="abilityModel" value="setScores" ng-click="setScoreArray(dmScoreValues)"> Set scores</label><br>
		<label><input type="radio" ng-model="abilityModel" value="scoreRoll" ng-click="redefine()"> Scores roll</label><br>
	<!-- == Random fixed scores system ============================================================================================================= -->
		<div ng-if="abilityModel === 'randomScores'">
			<a class="btn btn-default" ng-click="randomize(dmScoreValues)">Randomize!</a>
			<dl class="dl-horizontal">
				<dt>Strength</dt>
				<dd>{{strScore}}</dd>

				<dt>Dexterity</dt>
				<dd>{{dexScore}}</dd>

				<dt>Constitution</dt>
				<dd>{{conScore}}</dd>

				<dt>Intelligence</dt>
				<dd>{{intScore}}</dd>

				<dt>Wisdom</dt>
				<dd>{{wisScore}}</dd>

				<dt>Charisma</dt>
				<dd>{{chaScore}}</dd>
			</dl>
		</div>
	<!-- ============================================================================================================= Random fixed scores system == -->

	<!-- == Selected fixed scores system =========================================================================================================== -->
		<div ng-if="abilityModel === 'setScores'">
			<dl class="dl-horizontal">
				<dt>Strength</dt>
				<dd>
					<label><input type="radio" ng-model="strScore" ng-disabled="dexScore == selectScoreArray[0] || conScore == selectScoreArray[0] || intScore == selectScoreArray[0] || wisScore == selectScoreArray[0] || chaScore == selectScoreArray[0]" value="{{selectScoreArray[0]}}">{{selectScoreArray[0]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="strScore" ng-disabled="dexScore == selectScoreArray[1] || conScore == selectScoreArray[1] || intScore == selectScoreArray[1] || wisScore == selectScoreArray[1] || chaScore == selectScoreArray[1]" value="{{selectScoreArray[1]}}">{{selectScoreArray[1]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="strScore" ng-disabled="dexScore == selectScoreArray[2] || conScore == selectScoreArray[2] || intScore == selectScoreArray[2] || wisScore == selectScoreArray[2] || chaScore == selectScoreArray[2]" value="{{selectScoreArray[2]}}">{{selectScoreArray[2]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="strScore" ng-disabled="dexScore == selectScoreArray[3] || conScore == selectScoreArray[3] || intScore == selectScoreArray[3] || wisScore == selectScoreArray[3] || chaScore == selectScoreArray[3]" value="{{selectScoreArray[3]}}">{{selectScoreArray[3]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="strScore" ng-disabled="dexScore == selectScoreArray[4] || conScore == selectScoreArray[4] || intScore == selectScoreArray[4] || wisScore == selectScoreArray[4] || chaScore == selectScoreArray[4]" value="{{selectScoreArray[4]}}">{{selectScoreArray[4]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="strScore" ng-disabled="dexScore == selectScoreArray[5] || conScore == selectScoreArray[5] || intScore == selectScoreArray[5] || wisScore == selectScoreArray[5] || chaScore == selectScoreArray[5]" value="{{selectScoreArray[5]}}">{{selectScoreArray[5]}}&nbsp;&nbsp;&nbsp;</label>
				</dd>

				<dt>Dexterity</dt>
				<dd>
					<label><input type="radio" ng-model="dexScore" ng-disabled="strScore == selectScoreArray[0] || conScore == selectScoreArray[0] || intScore == selectScoreArray[0] || wisScore == selectScoreArray[0] || chaScore == selectScoreArray[0]" value="{{selectScoreArray[0]}}">{{selectScoreArray[0]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="dexScore" ng-disabled="strScore == selectScoreArray[1] || conScore == selectScoreArray[1] || intScore == selectScoreArray[1] || wisScore == selectScoreArray[1] || chaScore == selectScoreArray[1]" value="{{selectScoreArray[1]}}">{{selectScoreArray[1]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="dexScore" ng-disabled="strScore == selectScoreArray[2] || conScore == selectScoreArray[2] || intScore == selectScoreArray[2] || wisScore == selectScoreArray[2] || chaScore == selectScoreArray[2]" value="{{selectScoreArray[2]}}">{{selectScoreArray[2]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="dexScore" ng-disabled="strScore == selectScoreArray[3] || conScore == selectScoreArray[3] || intScore == selectScoreArray[3] || wisScore == selectScoreArray[3] || chaScore == selectScoreArray[3]" value="{{selectScoreArray[3]}}">{{selectScoreArray[3]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="dexScore" ng-disabled="strScore == selectScoreArray[4] || conScore == selectScoreArray[4] || intScore == selectScoreArray[4] || wisScore == selectScoreArray[4] || chaScore == selectScoreArray[4]" value="{{selectScoreArray[4]}}">{{selectScoreArray[4]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="dexScore" ng-disabled="strScore == selectScoreArray[5] || conScore == selectScoreArray[5] || intScore == selectScoreArray[5] || wisScore == selectScoreArray[5] || chaScore == selectScoreArray[5]" value="{{selectScoreArray[5]}}">{{selectScoreArray[5]}}&nbsp;&nbsp;&nbsp;</label>
				</dd>

				<dt>Constitution</dt>
				<dd>
					<label><input type="radio" ng-model="conScore" ng-disabled="strScore == selectScoreArray[0] || dexScore == selectScoreArray[0] || intScore == selectScoreArray[0] || wisScore == selectScoreArray[0] || chaScore == selectScoreArray[0]" value="{{selectScoreArray[0]}}">{{selectScoreArray[0]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="conScore" ng-disabled="strScore == selectScoreArray[1] || dexScore == selectScoreArray[1] || intScore == selectScoreArray[1] || wisScore == selectScoreArray[1] || chaScore == selectScoreArray[1]" value="{{selectScoreArray[1]}}">{{selectScoreArray[1]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="conScore" ng-disabled="strScore == selectScoreArray[2] || dexScore == selectScoreArray[2] || intScore == selectScoreArray[2] || wisScore == selectScoreArray[2] || chaScore == selectScoreArray[2]" value="{{selectScoreArray[2]}}">{{selectScoreArray[2]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="conScore" ng-disabled="strScore == selectScoreArray[3] || dexScore == selectScoreArray[3] || intScore == selectScoreArray[3] || wisScore == selectScoreArray[3] || chaScore == selectScoreArray[3]" value="{{selectScoreArray[3]}}">{{selectScoreArray[3]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="conScore" ng-disabled="strScore == selectScoreArray[4] || dexScore == selectScoreArray[4] || intScore == selectScoreArray[4] || wisScore == selectScoreArray[4] || chaScore == selectScoreArray[4]" value="{{selectScoreArray[4]}}">{{selectScoreArray[4]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="conScore" ng-disabled="strScore == selectScoreArray[5] || dexScore == selectScoreArray[5] || intScore == selectScoreArray[5] || wisScore == selectScoreArray[5] || chaScore == selectScoreArray[5]" value="{{selectScoreArray[5]}}">{{selectScoreArray[5]}}&nbsp;&nbsp;&nbsp;</label>
				</dd>

				<dt>Intelligence</dt>
				<dd>
					<label><input type="radio" ng-model="intScore" ng-disabled="strScore == selectScoreArray[0] || dexScore == selectScoreArray[0] || conScore == selectScoreArray[0] || wisScore == selectScoreArray[0] || chaScore == selectScoreArray[0]" value="{{selectScoreArray[0]}}">{{selectScoreArray[0]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="intScore" ng-disabled="strScore == selectScoreArray[1] || dexScore == selectScoreArray[1] || conScore == selectScoreArray[1] || wisScore == selectScoreArray[1] || chaScore == selectScoreArray[1]" value="{{selectScoreArray[1]}}">{{selectScoreArray[1]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="intScore" ng-disabled="strScore == selectScoreArray[2] || dexScore == selectScoreArray[2] || conScore == selectScoreArray[2] || wisScore == selectScoreArray[2] || chaScore == selectScoreArray[2]" value="{{selectScoreArray[2]}}">{{selectScoreArray[2]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="intScore" ng-disabled="strScore == selectScoreArray[3] || dexScore == selectScoreArray[3] || conScore == selectScoreArray[3] || wisScore == selectScoreArray[3] || chaScore == selectScoreArray[3]" value="{{selectScoreArray[3]}}">{{selectScoreArray[3]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="intScore" ng-disabled="strScore == selectScoreArray[4] || dexScore == selectScoreArray[4] || conScore == selectScoreArray[4] || wisScore == selectScoreArray[4] || chaScore == selectScoreArray[4]" value="{{selectScoreArray[4]}}">{{selectScoreArray[4]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="intScore" ng-disabled="strScore == selectScoreArray[5] || dexScore == selectScoreArray[5] || conScore == selectScoreArray[5] || wisScore == selectScoreArray[5] || chaScore == selectScoreArray[5]" value="{{selectScoreArray[5]}}">{{selectScoreArray[5]}}&nbsp;&nbsp;&nbsp;</label>
				</dd>

				<dt>Wisdom</dt>
				<dd>
					<label><input type="radio" ng-model="wisScore" ng-disabled="strScore == selectScoreArray[0] || dexScore == selectScoreArray[0] || conScore == selectScoreArray[0] || intScore == selectScoreArray[0] || chaScore == selectScoreArray[0]" value="{{selectScoreArray[0]}}">{{selectScoreArray[0]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="wisScore" ng-disabled="strScore == selectScoreArray[1] || dexScore == selectScoreArray[1] || conScore == selectScoreArray[1] || intScore == selectScoreArray[1] || chaScore == selectScoreArray[1]" value="{{selectScoreArray[1]}}">{{selectScoreArray[1]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="wisScore" ng-disabled="strScore == selectScoreArray[2] || dexScore == selectScoreArray[2] || conScore == selectScoreArray[2] || intScore == selectScoreArray[2] || chaScore == selectScoreArray[2]" value="{{selectScoreArray[2]}}">{{selectScoreArray[2]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="wisScore" ng-disabled="strScore == selectScoreArray[3] || dexScore == selectScoreArray[3] || conScore == selectScoreArray[3] || intScore == selectScoreArray[3] || chaScore == selectScoreArray[3]" value="{{selectScoreArray[3]}}">{{selectScoreArray[3]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="wisScore" ng-disabled="strScore == selectScoreArray[4] || dexScore == selectScoreArray[4] || conScore == selectScoreArray[4] || intScore == selectScoreArray[4] || chaScore == selectScoreArray[4]" value="{{selectScoreArray[4]}}">{{selectScoreArray[4]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="wisScore" ng-disabled="strScore == selectScoreArray[5] || dexScore == selectScoreArray[5] || conScore == selectScoreArray[5] || intScore == selectScoreArray[5] || chaScore == selectScoreArray[5]" value="{{selectScoreArray[5]}}">{{selectScoreArray[5]}}&nbsp;&nbsp;&nbsp;</label>
				</dd>

				<dt>Charisma</dt>
				<dd>
					<label><input type="radio" ng-model="chaScore" ng-disabled="strScore == selectScoreArray[0] || dexScore == selectScoreArray[0] || conScore == selectScoreArray[0] || intScore == selectScoreArray[0] || wisScore == selectScoreArray[0]" value="{{selectScoreArray[0]}}">{{selectScoreArray[0]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="chaScore" ng-disabled="strScore == selectScoreArray[1] || dexScore == selectScoreArray[1] || conScore == selectScoreArray[1] || intScore == selectScoreArray[1] || wisScore == selectScoreArray[1]" value="{{selectScoreArray[1]}}">{{selectScoreArray[1]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="chaScore" ng-disabled="strScore == selectScoreArray[2] || dexScore == selectScoreArray[2] || conScore == selectScoreArray[2] || intScore == selectScoreArray[2] || wisScore == selectScoreArray[2]" value="{{selectScoreArray[2]}}">{{selectScoreArray[2]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="chaScore" ng-disabled="strScore == selectScoreArray[3] || dexScore == selectScoreArray[3] || conScore == selectScoreArray[3] || intScore == selectScoreArray[3] || wisScore == selectScoreArray[3]" value="{{selectScoreArray[3]}}">{{selectScoreArray[3]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="chaScore" ng-disabled="strScore == selectScoreArray[4] || dexScore == selectScoreArray[4] || conScore == selectScoreArray[4] || intScore == selectScoreArray[4] || wisScore == selectScoreArray[4]" value="{{selectScoreArray[4]}}">{{selectScoreArray[4]}}&nbsp;&nbsp;&nbsp;</label>
					<label><input type="radio" ng-model="chaScore" ng-disabled="strScore == selectScoreArray[5] || dexScore == selectScoreArray[5] || conScore == selectScoreArray[5] || intScore == selectScoreArray[5] || wisScore == selectScoreArray[5]" value="{{selectScoreArray[5]}}">{{selectScoreArray[5]}}&nbsp;&nbsp;&nbsp;</label>
				</dd>
			</dl>
		</div>
	<!-- =========================================================================================================== Selected fixed scores system == -->

	<!-- == Top 3 out of 4d6 roll system =========================================================================================================== -->
		<div ng-if="abilityModel === 'scoreRoll'">
			<a class="btn btn-default" ng-click="roll()">Roll!</a>

			<div class="row" ng-show="showRolls">
				<div class="col-xs-4">
					<table class="table table-striped">
						<thead>
							<tr>
								<td>Rolls</td>
								<td>Top 3 sum</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rolledValue in rolledValues">
								<td><span ng-repeat="roll in rolledValue track by $index">{{roll}}<span ng-if="!$last">, </span></span></td>
								<td>{{sumRolls[$index +1]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-8">
					<dl class="dl-horizontal">
						<dt>Strength</dt>
						<dd>
							<label ng-repeat="score in rolledScores track by $index"><input type="radio" id="strScore-{{$index}}" ng-model="$parent.strScore" value="{{score}}-{{$index}}" ng-disabled="">{{score}}&nbsp;&nbsp;&nbsp;</label>
						</dd>
						<dt>Dexterity</dt>
						<dd>
							<label ng-repeat="score in rolledScores track by $index"><input type="radio" id="dexScore-{{$index}}" ng-model="$parent.dexScore" value="{{score}}-{{$index}}" ng-disabled="">{{score}}&nbsp;&nbsp;&nbsp;</label>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	<!-- =========================================================================================================== Top 3 out of 4d6 roll system == -->
</fieldset>